* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* div {
  font-size: 30px;
  line-height: 2;
  color: blue;
  background-color: black !important;
  justify-content: space-between;
  cursor: pointer;
  height: ;
  box-sizing: border-box;
} */
/* 


 */
/* بداية زرار إذهب إلى أعلى */
/* body {
  height: 5000px;
  width: 5000px;
}
button {
  display: none;
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  padding: 6px;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
} */
/* نهاية زرار إذهب إلى أعلى */
/* 


 */
/* بداية تطبيق الألوان */
/* body {
  background-color: #eee;
}

ul {
  padding: 0;
  margin: 0;
  background-color: #ddd;
  margin: 20px auto;
  padding: 20px;
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul li {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.3s;
}

ul li.active,
ul li:hover {
  opacity: 1;
}

ul li:first-child {
  background-color: red;
}

ul li:nth-child(2) {
  background-color: green;
}

ul li:nth-child(3) {
  background-color: blue;
}

ul li:nth-child(4) {
  background-color: black;
}

.experiment {
  background-color: red;
  width: 600px;
  height: 300px;
  margin: 20px auto;
} */
/* نهاية تطبيق الألوان */
/* 


 */
/* بداية برنامج إضافة عناصر */
/* Start BOM Challenge */
/* .container {
  padding: 20px 30px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin-bottom: 20px;
  background-color: rgb(236, 234, 234);
  border-radius: 10px;
}
.input {
  width: 75%;
  border-color: white;
  border-radius: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
}
.add {
  background-color: red;
  border-color: red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(236, 234, 234);
  padding: 20px;
  border-radius: 10px;
}
.container-ele {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 2.5rem;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove {
  background-color: red;
  border-color: red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
}
button {
  padding: 10px;
  margin: 10px 30px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.4s ease;
}
button:hover {
  transform: scale(1.2, 1.2);
  background-color: rgb(54, 54, 54);
} */
/* End BOM Challenge */

/* تطبيقات على HTML, CSS, JavaScript - توليد رقم متسلسل عشوائي */
/* .serial {
  width: fit-content;
  padding: 20px;
  background-color: #eee;
  margin: 40px auto 0;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 66.5px;
}
.generate {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.generate:hover {
  background-color: #f0440e;
} */

/* Create Our Work Filter */
/* تطبيقات على HTML, CSS, JavaScript - عرض قسم أعمالنا مع الفلتر*/
/* body {
  font-family: Arial, Helvetica, sans-serif;
}
.switcher {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.switcher li {
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #eee;
  min-width: 105px;
  text-align: center;
  transition: 0.2s;
}
.switcher li.active,
.switcher li:hover {
  background-color: red;
  color: white;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: auto;
}
.gallery img {
  margin-bottom: 10px;
  transition: 0.3s;
  margin-left: 5px;
  margin-right: 5px;
} */

/* تطبيقات على HTML, CSS, JavaScript - حساب عدد الأحرف في حقول الإدخال مع ملأ الحواف
            Count Input Characters And Fill Borders*/
/* body {
  font-family: Arial, Helvetica, sans-serif;
}
div {
  width: 300px;
  margin: 20px auto;
}
input {
  padding: 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #d7d7d7;
  background-color: #fbfbfb;
}
input:focus {
  outline: none;
}
.progress {
  background-color: #2196f3;
  height: 2px;
  width: 0;
  display: block;
  position: relative;
  top: -2px;
  transition: 0.5s;
}
.count {
  display: block;
  text-align: right;
  font-size: 12px;
  padding: 5px;
}
.zero {
  font-weight: bold;
  color: red;
} */

/* تطبيقات على HTML, CSS, JavaScript - عمل قائمة تنقل بملأ الشاشة */
/* Fullscreen Navigation */
/* body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
}
.toggle {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #eee;
  cursor: pointer;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
}
.toggle span {
  width: 100%;
  background-color: #777;
  height: 4px;
  transition: 0.5s;
}
.toggle:hover span {
  background-color: #333;
}
nav {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  transform: translateY(-100%);
}
nav.open {
  transform: translateY(0);
}
nav .close {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
nav .close:hover {
  color: indianred;
  border-color: indianred;
}
nav a {
  color: #eee;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
  transition: 0.5s;
}
nav a:hover {
  background-color: rgb(0 0 0 / 50%);
} */

/* تطبيقات على HTML, CSS, JavaScript - عمل Countdown للوصول لتاريخ معين */
/* Create Countdown Timer */
/* body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  margin: 0;
} */

/* تطبيقات على HTML, CSS, JavaScript - تغيير عرض العناصر عند الوصول للقسم */
/* Animate Width On Scrolling */
/* body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  margin: 0;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:first-child {
  background-color: #aaa;
}
section:nth-child(2) {
  background-color: #bbb;
}
section:nth-child(3) {
  background-color: #ccc;
}
section:last-of-type {
  background-color: #eee;
}
.progress {
  position: relative;
  width: 500px;
  height: 30px;
  background-color: white;
  margin: 10px;
}
.progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: indianred;
  transition: width 0.3s linear;
}
.active {
  background-color: rgb(121, 120, 120) !important;
} */

/* تطبيقات على HTML, CSS, JavaScript - زيادة الأرقام عند الوصول للقسم */
/* Increase Numbers On Scrolling */
/* body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  margin: 0;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:first-child {
  background-color: #aaa;
}
section:nth-child(2) {
  background-color: #bbb;
}
section:nth-child(3) {
  background-color: #ccc;
}
section:last-of-type {
  background-color: #eee;
}
.nums {
  width: 400px;
  display: flex;
}
.nums .num {
  flex: 1;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
.active {
  background-color: rgb(121, 120, 120) !important;
} */
